ion-select {
  color: #2B2E6B;
  background-color: #EABED7;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-radius: 25px;
  --placeholder-opacity: 1;
}

ion-card{
  height: 600px;
  width: 300px;
  padding: 20px;
  margin: 10px;
  background-color: #E1E7E7;
  border-radius: 25px;
}

h1{
  color: #2B2E6B;
}

.right{
  right: 5px;
  position: absolute;
  bottom: 10px;
  margin: 10px;
}

.left{
  left: 5px;
  position: absolute;
  bottom: 10px;
  margin: 10px;
}

ion-item{
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  background-color: #EABED7;
}

ion-input{
  color: #2B2E6B;
  --placeholder-opacity: 1;
}

ion-datetime{
  color: #2B2E6B;
  --placeholder-opacity: 1;
}

.comment{
  min-height: 150px;
  max-height: 350px;
  color: #2B2E6B;
  --placeholder-opacity: 1;
}
