<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center" size="large">
      Afspraak Maken
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item *ngFor="let afspraak of (afspraak| async)">
      <ion-label class="ion-text-wrap">
        <h2 style="font-weight: bold; margin-top: 10px">{{ afspraak.datum_tijd }}: {{ afspraak.consulent }}</h2>
        <h3>Naam:</h3>
        <p>{{ afspraak.naam }}</p>
        <h3>Email:</h3>
        <p>{{ afspraak.email }}</p>
        <h3>Telefoonnummer:</h3>
        <p>{{ afspraak.telefoonnummer }}</p>
        <h3>Opmerking:</h3>
        <p>{{ afspraak.opmerking }}</p>
      </ion-label>
    </ion-item>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
